:root {
    --clr-neon: hsl(317 100% 54%);
}

body {
    margin: 0;
    padding: 0;
    font-family: "supercell", Arial, sans-serif;
    color: white;
    overflow: hidden;
}
    body.pages::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    body.pages::-webkit-scrollbar-track {
        background: #434343;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
    }

    body.pages::-webkit-scrollbar-thumb {
        background: linear-gradient( 90deg,#434343,#434343 1px,#262626 0,#262626);
    }
@font-face {
    font-family: "Supercell";
    src: url("supercell-magic-webfont.ttf");
    src: url("supercell-magic-webfont.ttf") format("opentype");
}
.nav-bar {
    background-color: #488bf4;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1em;
}

.nav-wrapper{
    padding-top: 0.75em;
    display: flex;
    justify-content: center;
}
.nav-left{
    display: flex;
   

}
.nav-right{
    display: flex;
   
}
.nav-link{
    padding-right: 1em;
    padding-left: 1em;
    color: white;
    padding-top: 0.25em;
    border-radius: 7%;
}
.nav-link a{
    text-decoration: none;
    color: white;
}

.nav-link:hover{
    opacity: 0.7;
}

.active{
    opacity: 0.7;
}

.landing-page {
    height: 100vh;
    background-image: url("img/cr_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding: 0;
    height: 7rem;
    font-family: "supercell", Arial, sans-serif;
    font-size: 6em;
    color: white;
    text-shadow: 0 1px 5px grey, 0 4px 3px black;
    display: flex;
    cursor: default;
    user-select: none;
}
@media only screen and (max-width: 600px) {
    .landing-page {
        background-image: url("img/phone_bg.jpg");
    }

    h1 {
        height: 2em;
        font-size: 2em;
    }
}

.name h1 span:hover{
    font-size: 7rem;
    transform: translateY(-4vh);
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
}*/

.scroll-container {
    position: relative;
    width: 24px;
    height: 24px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

    .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #fff;
    }

    .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
    }

    .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.scroll-text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}




 

/*.name {
    -webkit-background-clip: text;
    color: transparent;
    background-image: url("text_bg.jpg");
    animation: showup;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-size: 100%;
}

@keyframes showup {
    0% {
        background-size: 60%;
    }

    100% {
        background-size: 100%;
    }
}
*/

.pages {
    max-height: 100vh;
    overflow-y: scroll;
}




/*.card-box {
    border: 1px solid var(--clr-neon);
    height: 30vw;
    width: 25vw;
    margin-left: 4vw;
    margin-right: 4vw;
    box-shadow: 0 0 0.5em 0 var(--clr-neon);
    border-radius: 2%;
}

    .card-box:hover {
        box-shadow: 0 0 2em 0.5em var(--clr-neon);
        transition: opacity 100ms linear;
    }*/
.card-page {
    background-color: #100e17;
    height: 100vh;
    
}


.card-container {
    align-items: center;
    overflow-x: scroll;
    display: flex;
    height: 80vh;
    padding: 2rem;
}
.card {
    min-width: 250px;
    height: 350px;
    border-radius: 16px;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
    transform: rotateY(5deg);
    transform-style: preserve-3d;
    user-select: none;
}

.card > img {
    
}
.card-img{
    align-items: center;
    justify-content: center;
    transform: translateZ(5em);
}

.card-back{
    position: absolute;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    padding: 2em;
}





.card .card-title {
    font-size: 20px;
    font-weight: 700;
}

.card .card-header {
    transform: translateZ(3em);
}




.card:not(:first-child) {
    margin-left: -100px;
}

.card:hover {
    transform: rotateY(180deg);
    transition-duration: 3s;
}
    .card:hover ~ .card {
        transform: translateX(100px);
    }

body .card-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body .card-container::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

body .card-container::-webkit-scrollbar-track {
    background: linear-gradient( 90deg,#434343,#434343 1px,#262626 0,#262626);
}

.decks {
    background-color: #100e17;

}
.decks-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3em;
    margin-right: 3em;
}
    .decks-wrapper > div {
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

.deck-title{
    font-size: 1em;
    padding: 2em;


}

.deck {
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 0.5em 0 var(--clr-neon);
    height: 19em;
    width: 28em;
}
.cr-cards-wrapper {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em;
}

img {
    max-width: 100%;
}

    .deck:hover {
        box-shadow: 0 0 0.75em 0.25em var(--clr-neon);
        transition: opacity 100ms linear;
    }

.card-landing-page {
    height: 100vh;
    overflow-y: scroll;
    
    scroll-snap-type: y proximity;
}
    .card-landing-page section {
        scroll-snap-align: center;
    }

    .card-landing-page section h2{
        margin: 0;
        padding: 1em;
    }

.legendary {
    background: url("img/card-page-legendary-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.epic {
    background: url("img/card-page-epic-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.rare {
    background: url("img/card-page-rare-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.common {
    background: url("img/card-page-common-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

@media only screen and (max-width: 600px){
    .legendary {
        background: url("img/phone-legendary-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .epic {
        background: url("img/phone-epic-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .rare {
        background: url("img/phone-rare-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .common {
        background: url("img/phone-common-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}


